blinker
certifi
charset-normalizer
click
colorama
filelock
Flask
fsspec
huggingface-hub
idnaitsdangerous
Jinja2
joblib
MarkupSafe
mpmath
networkx
nltk
numpy
packaging
PyYAML
regex
requests
Sastrawi
scikit-learn
scipy
sympy
threadpoolctl
tokenizers
torch
tqdm
transformers
typing_extensions
urllib3
Werkzeug
Gunicorn
